
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab&family=Source+Sans+Pro:wght@300&display=swap');

@font-face {
    font-family:'Abril Fatface';
    src: url(./fonts/AbrilFatface-Regular.ttf) format(truetype);
}
@font-face{
    font-family:'Roboto Slab';
    src: url(./fonts/RobotoSlab-VariableFont_wght.ttf) format(truetype);
}

@font-face{
    font-family:'Source';
    src: url(./fonts/SourceSansPro-Regular.ttf) format(truetype);
}
body{
    background: white;
    box-shadow: #ddd;
    max-width: 700px;
    border-radius: 25px;
    background-color: #eee;
    border-color: #eee;
}
h1{
font-family: 'Abril Fatface', cursive;
text-align: center;
margin-bottom: 5px;
margin-top: -10px;
font-size: 50px;
}
h2{
    font-family: 'Roboto Slab';
    font-weight: 800;
    font-size: 25px;
}
p {
  
        font-family: Source Sans Pro;
        color:#dd3232;
        padding:10px;
        text-align:justify;

 }


div.date {
    padding: 1em;
    font-family: sans-serif;
}
ul{
    display: inline-flex;
    list-style: none;
    font-size: small;
    font-family: sans-serif;
    border: 3px solid lightgrey;
    border-right: none;
    border-left: none;
    margin-bottom: 50px solid lightgrey; 
    padding:0px;
    width:800px;
    padding-top: 5px;
    padding-bottom: 5px;
    width:650px;
    align-content: space-between;
    justify-content: space-around;
}
a {
text-decoration: none;
display: inline-flex;
flex-direction: column;
padding: 4px;
margin:auto;
color: #777;
}
nav {
    text-align: center;
}
div.more-articles{
    display:inline-flex;
}
.more-articles{
    font-family: 'Source Sans Pro';
    text-align:center;

}
main{
    border-bottom: 5px solid lightgrey;
}
h5
{
    color:red;
    font-weight:1000px;

}
.computerpic{
    display: block;
    margin-left: 30px;
   
}
h4{
    text-align: left;
    margin-left: 45px;
    font-weight: 900px;
}


